<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">Rent Car</a>
    <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admindashboard/vozila">Vozila</a>
        </li>
        
          <li class="nav-item">
            <a class="nav-link" href="" routerLink="/admindashboard/korisnici" >Korisnici</a>
          </li>
          
      </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
        </li>
        
          <li class="nav-item">
            <a class="nav-link" href="" routerLink="/signup" *ngIf="!currentStatus.status">Sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" routerLink="/login" *ngIf="!currentStatus.status">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" routerLink="/admindashboard" *ngIf="loginuser.user.userAuthority[0].authority=='ROLE_ADMIN'">Dashboard</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="" routerLink="/login" *ngIf="currentStatus.status" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
</nav>
<section style="height: 120px;">
    <form #carForm="ngForm" style="margin-top: 50px;padding-left: 5px;">
        <div class="form-row">
            <div class="col" id="row">
                <p style="margin-bottom: 1px;">Tip</p><select class="form-control" [(ngModel)]="carSearch.tip" name="tip"><optgroup label="tip"><option value="" selected=""></option><option *ngFor="let bT of bodyTypes" [value]="bT.name">{{bT.name}}</option></optgroup></select></div>
            <div
                class="col" id="row">
                <p style="margin-bottom: 1px;">Marka</p><select class="form-control" [(ngModel)]="carSearch.name" name="name"><optgroup label="marka"><option value="" selected=""></option><option *ngFor="let m of carNames" [value]="m.name" #name>{{m.name}}</option></optgroup></select></div>
        <div
            class="col" id="row">
            <p style="margin-bottom: 1px;">Model</p><input class="form-control" [(ngModel)]="carSearch.model" name="model" type="text"></div>
            <div class="col" id="row">
                <p class="price" style="margin-bottom: 1px;">Cena od</p><input class="form-control price" type="text" [(ngModel)]="carSearch.cenaOd" name="cenaOd" ></div>
            <div class="col price" id="row">
                <p class="price" style="margin-bottom: 1px;">Cena do</p><input class="form-control price" type="text" [(ngModel)]="carSearch.cenaDo" name="cenaDo" ></div>
            <div class="col text-left align-self-end"><button class="btn btn-primary" type="button" style="background-color: rgb(136,189,247);" (click)="searchCars(carSearch,carForm)">Pretrazi</button></div>
            </div>
    </form>
</section>
<div class="info">
<h2>Vozila:</h2>
<button type="button" class="btn btn-success" style="height: 30px; width: 100px; padding: 1px;" routerLink="/admindashboard/vozila/dodaj">Dodaj Vozilo</button>
 </div>

<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Naziv</th>
        <th scope="col">Marka</th>
        <th scope="col">Model</th>
        <th scope="col">Cena</th>
        <th scope="col">Akcije</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of cars">
        <td>{{c.carNameName}} {{c.modelName}} {{c.engineVolume}}</td>
        <td>{{c.carNameName}}</td>
        <td>{{c.modelName}}</td>
        <td>{{c.pricePerDay}}</td>
        <td><button type="button" class="btn btn-danger"(click)="delete(c.id)">Obrisi</button></td>
      </tr>
    </tbody>
  </table>

  <section class="text-center">
    <nav class="d-flex justify-content-around">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
            <li class="page-item" *ngFor="let p of totalPageNumber;let i=index"><a class="page-link" (click)="setPage(i,$event)" href="#">{{i}}</a></li>
            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
        </ul>
    </nav>

    <div *ngIf="forEdit">
      <form #userEditForm="ngForm" style="margin-top: 50px;padding-left: 5px;">
    
        <div class="col" id="row">
          <p style="margin-bottom: 1px;">Ime i prezime</p><input class="form-control" [(ngModel)]="newName" name="newName" type="text">
        </div>
    
        <div class="form-row" style="display: flex;flex-direction: column;">
          <p style="margin-bottom: 1px;">Korisnicko ime</p><p>{{ userEdit.username }}</p>
        </div>
        
        <div class="form-row" style="display: flex;flex-direction: column; margin: 0 30px;"></div>
        <div class="form-row" style="display: flex;flex-direction: column;">
          <p style="margin-bottom: 1px;">Blokiran</p><p *ngIf="userEdit.enable==true">Ne</p><p *ngIf="userEdit.enable==false">Da</p>
        </div>
          
          
            <div class="col text-left align-self-end">
              <button class="btn btn-primary" type="button" style="background-color: rgb(136,189,247);" (click)="edit(car,userEditForm)">Finish</button>
            </div>
    
    </form>
    </div>
  </section>
